// 时间
$time-100: 100ms
$time-200: 200ms
$time-300: 300ms
$time-400: 400ms
$time-500: 500ms
$time-600: 600ms
$time-700: 700ms
$time-800: 800ms
$time-900: 900ms
$time-1000: 1000ms


// 字体大小
$fontSize: 16px

$fontSize-12: 12px
$fontSize-13: 13px
$fontSize-14: 14px
$fontSize-15: 15px
$fontSize-16: 16px
$fontSize-17: 17px
$fontSize-18: 18px
$fontSize-19: 19px
$fontSize-20: 20px
$fontSize-21: 21px
$fontSize-22: 22px
$fontSize-23: 23px
$fontSize-24: 24px
$fontSize-25: 25px
$fontSize-26: 26px
$fontSize-27: 27px
$fontSize-28: 28px
$fontSize-29: 29px
$fontSize-30: 30px
$fontSize-31: 31px
$fontSize-32: 32px


// 图片大小
$imgSize: 32px

$imgSize-16: 16px
$imgSize-32: 32px
$imgSize-48: 48px
$imgSize-64: 64px
$imgSize-80: 80px
$imgSize-96: 96px
$imgSize-112: 112px
$imgSize-128: 128px
$imgSize-256: 256px
$imgSize-512: 512px
$imgSize-1024: 1024px


// 页面临界尺寸（最小值）
$breakpoint-xs: 0
$breakpoint-sm: 576px
$breakpoint-md: 768px
$breakpoint-lg: 992px
$breakpoint-xl: 1200px
$breakpoint-vh: 1432px
$breakpoint-sh: 1660px
$breakpoint-2k: 1960px
$breakpoint-3k: 3100px
$breakpoint-4k: 3820px
$breakpoint-5k: 5100px
$breakpoint-6k: 6380px
$breakpoint-8k: 7660px


//  颜色
$mainColor: #ad764f

$blue: #007bff
$indigo: #6610f2
$purple: #6f42c1
$pink: #e83e8c
$red: #dc3545
$orange: #fd7e14
$yellow: #ffc107
$green: #28a745
$teal: #20c997
$cyan: #17a2b8
$white: #fff
$lightGray: #bebebe
$gray: #6c757d
$darkGray: #343a40
$primary: #007bff
$secondary: #6c757d
$success: #28a745
$info: #17a2b8
$warning: #ffc107
$danger: #dc3545
$light: #f8f9fa
$dark: #343a40