.videosLineBox {
  list-style: none;
  padding: 0 10px;
  margin: 10px 0;
  display: flex; }
  .videosLineBox li {
    width: 22.5%;
    margin: 0 auto; }
  .videosLineBox .videoBar .videoBox {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.4s; }
    .videosLineBox .videoBar .videoBox:hover {
      border-radius: 0; }
    .videosLineBox .videoBar .videoBox:hover .specialVideoModel {
      top: 0; }
    .videosLineBox .videoBar .videoBox:hover .seeLaterModel {
      opacity: 1; }
    .videosLineBox .videoBar .videoBox:hover .seeNowModel {
      opacity: 1; }
    .videosLineBox .videoBar .videoBox:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity 0.4s; }
    .videosLineBox .videoBar .videoBox:hover:before {
      opacity: 1; }
    .videosLineBox .videoBar .videoBox img {
      width: 100%;
      height: 100%; }
  .videosLineBox .videoBar .specialVideoModel, .videosLineBox .videoBar .defaultVideoModel, .videosLineBox .videoBar .imageVideoModel, .videosLineBox .videoBar .seeLaterModel, .videosLineBox .videoBar .seeNowModel {
    position: absolute;
    z-index: 2; }
  .videosLineBox .videoBar .specialVideoModel {
    top: 55%;
    height: 100%;
    width: 100%;
    padding: 10% 5% 0;
    transition: 0.4s; }
    .videosLineBox .videoBar .specialVideoModel h5, .videosLineBox .videoBar .specialVideoModel p {
      height: 33.3%;
      margin: 0;
      padding: 0;
      font-size: 16px; }
    .videosLineBox .videoBar .specialVideoModel p {
      font-size: 12px; }
  .videosLineBox .videoBar .defaultVideoModel, .videosLineBox .videoBar .imageVideoModel {
    top: 0;
    height: 100%;
    width: 100%;
    padding: 47.5% 5% 0 5%;
    font-size: 14px; }
    .videosLineBox .videoBar .defaultVideoModel span, .videosLineBox .videoBar .imageVideoModel span {
      margin-right: 5px; }
  .videosLineBox .videoBar .seeLaterModel {
    bottom: 5%;
    right: 5%;
    text-align: center !important;
    opacity: 0;
    color: #ad764f;
    transition: 0.4s; }
    .videosLineBox .videoBar .seeLaterModel p {
      position: relative;
      top: -3px;
      margin: 0;
      padding: 5px;
      font-size: 14px;
      cursor: default;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      opacity: 0;
      float: left;
      transition: 0.4s; }
    .videosLineBox .videoBar .seeLaterModel i {
      font-size: 24px;
      cursor: pointer; }
    .videosLineBox .videoBar .seeLaterModel i:hover + p {
      opacity: 1; }
  .videosLineBox .videoBar .seeNowModel {
    top: 50%;
    left: 50%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%);
    transition: opacity 0.4s;
    opacity: 0; }
  .videosLineBox .videoDataBar {
    position: relative;
    display: block;
    padding: 5px 10px; }
    .videosLineBox .videoDataBar .defaultObjectData {
      height: 64px; }
      .videosLineBox .videoDataBar .defaultObjectData p {
        width: 100%;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; }
    .videosLineBox .videoDataBar .imageObjectData {
      position: relative;
      height: 64px; }
      .videosLineBox .videoDataBar .imageObjectData img {
        padding: 0;
        position: relative;
        top: -50%;
        height: 32px;
        width: 32px;
        border-radius: 50%; }
      .videosLineBox .videoDataBar .imageObjectData div {
        display: inline-block; }
      .videosLineBox .videoDataBar .imageObjectData h6, .videosLineBox .videoDataBar .imageObjectData p, .videosLineBox .videoDataBar .imageObjectData small {
        height: auto;
        width: 100%;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical; }
      .videosLineBox .videoDataBar .imageObjectData h6 {
        font-size: 16px;
        margin-bottom: 2px; }
      .videosLineBox .videoDataBar .imageObjectData p {
        margin-bottom: 8px; }

/*# sourceMappingURL=videosLine.css.map */