@import "../global/variable"


/*  导航栏  */
.headerNav
  height: 17.5vh
  background-image: url("/images/headerImg.png")
  background-size: cover
  -webkit-background-size: cover
  -o-background-size: cover
  background-position: center 0

  .logoBox
    position: absolute
    top: 7.5vh
    left: 4vh

    img
      height: 75px
      width: auto


/*  公告栏  */
.placardBox
  background-color: $lightGray


/*  子导航栏  */
.subNavBox
  padding: 10px 0

  ul
    list-style: none
    display: flex
    width: 100%
    margin: 0
    padding: 0

    li
      margin: 0 auto
      padding: 5px 0

  .labelNavItemBox
    border-left: 1px solid $lightGray
    border-right: 1px solid $lightGray

    li
      width: 10%

      p
        margin: 0
        padding: 0

      small
        position: relative
        display: block
        top: 2px

/*  首推栏  */
.FirstPushBox
  display: flex
  padding: 0 5%
  margin: 5px 0

  .leftChevronBox, .rightChevronBox
    position: absolute
    top: 50%
    transform: translateY(-50%)
    font-size: 24px

  .leftChevronBox
    left: 0

  .rightChevronBox
    right: 0
